@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
    width: 5px;
}
  
body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
    background-color: #6c757d;
}

body::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
    background-color: #2D2C31;
    border-radius: 5px;
}

body {
  background-color: #0e0d0d;
  overflow-x: hidden;
  word-wrap: break-word; 
}

.container {
  position: relative;
  max-width: 1270px;
  padding: 30px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.search_post {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 400px;
  padding: 10px;
  background-color: antiquewhite;
  border-radius: 5px;
}

.input_box {
  flex-grow: 1;
  max-width: 350px;
  color: black;
}

.loupe_button::after {
  content: "\01F50D";
  display: block;
}

.title_logo {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

.posts_section {
  animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  margin-top: 100px;
  margin-bottom: 120px;
}

.post {
  border-radius: 5px;
  padding: 20px 30px;
  margin: 30px auto;
  max-width: 600px;
  border: 1px solid antiquewhite;
  cursor: pointer;
  flex-grow: 1;
  color: #fff;
}

.top_post {
  display: flex;
  gap: 5px;
}

.title_post {
  font-size: 18px;
  font-weight: 500;
  max-width: 100%;
}

.date_post {
  font-size: 15px;
  color: #989898;
}

.description_post {
  margin-top: 30px;
}

.pages_section {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #251c0c;
  padding: 10px;
  border-radius: 5px;
}

.pages {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 600;
}

.page {
  cursor: pointer;
  background-color: antiquewhite;
  padding: 5px;
  border-radius: 2px;
}

.active {
  padding: 10px;
}

.wrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.post_title {
  font-size: 25px;
  font-weight: 600;
  display: flex;
  white-space: normal;
  align-items: center;
  gap: 5px;
}

.post_description {
  font-size: 18px;
  margin-top: 50px;
  letter-spacing: 0.5px;
  line-height: 25px;
  color: #cccccc;
}

.post_title::after {
  content: "";
  font-size: 20px;
  color: #989898;
  display: block;
  margin-top: 4px;
  width: 100vw;
  height: 2px;
  background-color: #989898;
}

.post_title span {
  color: #989898;
}

/* Preloader */

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

/* Keyframes */

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0px);
  }
}